<li class="nav-sideitem {$presenter->isLinkCurrent(':ConferenceModule:ConferenceList:list') ? 'active' : ''}">
    <a class="nav-sidelink" href="{plink :ConferenceModule:ConferenceList:list}">Conferences</a>
</li>