{default $title = 'My Created Conferences'}

<a href="{plink :UserModule:CreateAdmin:default}" class="btn btn-primary"> Create admin</a>
<br>

{block content}
    <div class="form-group">
        {control userList}
    </div>
{/block}
