{default $title = 'Conference schedule'}

{block content}
    <h2> {$conference->name} - schedule</h2>

    <br>
    <a href="{link :LectureModule:AddNewLecture:default, conferenceId => $conference->id}" class="btn btn-primary">
        Add new lecture
    </a>
    <br>

    {control schedule}
{/block}

