{default $title = 'Conference list'}

    {block content}
        <h1>Conference list</h1>
        <table>
            <thead>
            <tr>
                <th>Conference name</th>
            </tr>
            </thead>
            <tbody>
            {foreach $conferences as $conference}
                <tr>
                    <td>{$conference->name}</td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    {/block}

