{block content}
    <h1>Conference List</h1>
    <ul>
        {foreach $conferences as $conference}
            <li>
                <strong>{$conference->name}</strong><br>
                Price: {$conference->price} €<br>
                Start date: {$conference->start_date|date:'d.m.Y'}
            </li>
            <br>
        {/foreach}
    </ul>
{/block}