{default $title = 'Homepage'}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{$title|noescape}</title>
    <link rel="stylesheet" href="{$basePath}/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {block content}

        <h1>Hello</h1>

        <p>
            <a href="{plink :UserModule:Authentication:signIn}">Sign In</a> <br>
            <a href="{plink :ConferenceModule:ConferenceList:list}">List of conferences</a> <br>
            <a href="{plink :ConferenceModule:ConferenceAdd:add}">Add conference</a> <br>
            <a href="{plink :RoomModule:RoomAdd:addRoom}">Add room</a> <br>
            <a href="{plink :PresentationModule:PresentationAdd:add}">Add presentation</a> <br>
            <a href="{plink :ConferenceModule:AddRoomToConference:add}">Add room to conference</a> <br>

            <a href="{plink :ReservationModule:ReservationList:list}">Reservation list</a>
        </p>

        <p>
            <a href="{plink :UserModule:Register:default}">Registration</a> <br>
            {if $user->isLoggedIn()}
                <p>Account Type: {$accountType}</p> <!-- Debug: print the accountType -->

                {if $accountType === 'admn'}
                    <a href="{plink :UserModule:CreateAdmin:default}">Create Admin</a> <br>
                    <a href="{plink :RoomModule:RoomList:list}">See Rooms</a> <br>
                    <a href="{plink :UserModule:UserList:list}">Manage Users</a>
                {/if}
            {/if}
        </p>

        {if $user->isLoggedIn()}
            <p>
                <a href="{plink :UserModule:UserDetail:default, userId => $user->id}" class="btn btn-primary">View Your Information</a> <br><br>
                <a href="{plink :ConferenceModule:ConferenceListCreator:list, userId => $user->id}" class="btn btn-primary">View Your Conferences</a>
            </p>
        {/if}
    {/block}
</body>
</html>