
<h1>Hello</h1>

<p>
    <a href="{plink :UserModule:Authentication:signIn}">Sign In</a> <br>
    <a href="{plink :ConferenceModule:ConferenceList:list}">List of conferences</a> <br>
    <a href="{plink :ConferenceModule:ConferenceAdd:add}">Add conference</a> <br>
    <a href="{plink :RoomModule:RoomAdd:addRoom}">Add room</a>
</p>