<h1>Hello</h1>

<p>
    <a href="{plink UserModule:Authentication:signIn}">Sign In</a>
</p>

{block content}



    <h1>Users</h1>

    {foreach $users as $singleUser}
        <div class="singleUser">


            <h2>{$singleUser->name} {$singleUser->surname}</h2>

            <div>{$singleUser->email}</div>
        </div>
    {/foreach}
{/block}