<li class="nav-item {$presenter->isLinkCurrent(':UserModule:UserDetail:default') ? 'active' : ''}">
    <a class="nav-link" href="{plink :UserModule:UserDetail:default}">My Profile</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{plink logout!}">
        Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
</li>