<li class="nav-item {$presenter->isLinkCurrent(':UserModule:Authentication:SignIn') ? 'active' : ''}">
    <a class="nav-link" href="{plink :UserModule:Authentication:SignIn}">Sign In</a>
</li>

<li class="nav-item {$presenter->isLinkCurrent(':UserModule:Register:default') ? 'active' : ''}">
    <a class="nav-link" href="{plink :UserModule:Register:default}">Registration</a>
</li>