{default $title = 'Ticket Reservation'}

<div class="form-group">
    {control reserveRegisteredForm}
</div>


<script>
    function adjustTicketCount(change) {
        const ticketInput = document.getElementById('ticket-quantity');
        let currentTickets = parseInt(ticketInput.value) || 1;

        currentTickets += change;
        if (currentTickets < 1) {
            currentTickets = 1; // Min. Value 1
        }

        ticketInput.value = currentTickets;
    }
</script>