application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
	    CommonModule: App\CommonModule\Presenters\*Presenter
	    UserModule: App\UserModule\Presenters\*Presenter
	    TicketModule: App\TicketModule\Presenters\*Presenter
	    ConferenceModule: App\ConferenceModule\Presenters\*Presenter
	    RoomModule: App\RoomModule\Presenters\*Presenter
	    ReservationModule: App\ReservationModule\Presenters\*Presenter
	    PresentationModule: App\PresentationModule\Presenters\*Presenter

database:
	dsn: 'mysql:host=127.0.0.1;dbname=iis'
	user: 'root'
	password: ''


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension

parameters:
    appDir: %appDir%

    roles:
        user:
            resources:
                usermodule.user: [edit, view]
                user.profile: []
                conference.conference: [list, default]
                presentation.presentation: [list, default]
                ticket.ticket: [default]
                reservationmodule.reserveregistered: [view, makeReservation]
                conferencemodule.conferenceadd: [add, default]
        admin:
            resources:
                user.user: []
                reservationmodule.reserveregistered: [view, makeReservation]
                conferencemodule.conferenceadd: [add, default]

    publicPages:
        - UserModule:Authentication:signIn
        - ReservationModule:ReserveNonRegistered:makeReservation

di:
	export:
		parameters: no
		tags: no

http:
	cookieSecure: auto
