services:
	- App\Core\RouterFactory::createRouter
	- App\UserModule\Model\UserAuthenticator
	- App\UserModule\Controls\Login\ILoginControlFactory

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
