{default $title = 'Add Rooms to Conference'}

<h1>
    Add Rooms to Conference
</h1>

<h2>{$conference->name}</h2>
<p>Start: {$conference->start_time|date:'j. n. Y H:i'}</p>
<p>End: {$conference->end_time|date:'j. n. Y H:i'}</p>

{block content}
    {control addRoomToConferenceForm}
{/block}