<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$title|escape}</title>
	<link rel="stylesheet" href="{$basePath}css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<meta name="author" content="Tomáš Dolák, Jan Křůmal, Monika Záhradníková">
	<meta name="description" content="Projekt z předmetu Informační systémy (VUT FIT).">
	<meta name="keywords" content="vut-fit, vut, iis, information-systems, conference-system, nette-framework">
</head>

<body>
	<header>
		{control headBar}
	</header>

	<main class="container">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<!-- Obalový div pre block content -->
		<div class="content-wrapper">
			{include content}
		</div>

		{block scripts}
			<script src="https://unpkg.com/nette-forms@3"></script>
		{/block}
	</main>

	<footer class="footer">
		{control footer}
	</footer>


</body>
</html>

