{default $title = 'Detail'}

{block content}

    <h1>User Details</h1>

    <p><strong>Name:</strong> {$userData->name}</p>
    <p><strong>Surname:</strong> {$userData->surname}</p>
    <p><strong>Email:</strong> {$userData->email}</p>

    <div class="btn-group-inline">
        {if $user->isLoggedIn()}
            <p>
                <a href="{plink :UserModule:User:editUser, userId => $user->id}" class="btn btn-primary">Edit Profile</a>
                <a href="{plink :ConferenceModule:ConferenceListUser:list, userId => $user->id}" class="btn btn-primary">View My Conferences</a>
                <a href="{plink :ReservationModule:ReservationList:list}" class="btn btn-primary">View My Reservations</a>
            </p>
        {/if}
    </div>
{/block}
